# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Mac OS X cruft
.DS_Store
._*

# Miscelleleaneous IDE-crud
*.esproj
*.kpf
*.tmproj
.cache
.project
.settings

# Config and uploaded files
/sites/kbhlydavis.dk
/sites/sites.php
