
/**
 * Generic elements
 */
body {
  color: #494949;
  background: #edf5fa;
}

input {
  color: #494949;
}

textarea,
select {
  color: #494949;
}

a:link,
a:visited {
  color: #027AC6;
}

a:hover {
  color: #0062A0;
}

a:active,
a.active {
  color: #5895be;
}

hr {
  background: #5294c1;
}

ol.task-list li.done {
  color: #393;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
}

th a:link,
th a:visited {
  color: #6f9dbd;
}

tr.even,
tr.odd,
tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd,
tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #ffb;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region-title,
td.module,
td.container,
td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
}

span.form-required {
  color: #ffae00;
}

.submitted, .description,
.vertical-tab-button .summary {
  color: #898989;
}

.description {
  color: #898989;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/**
 * Layout
 */
.region-header {
  background: #d2e6f3 url(../images/bg-navigation.png) repeat-x 50% 100%;
}

#wrapper {
  background: #edf5fa url(../images/body.png) repeat-x 50% 0;
}

.block-region {
  border: 2px dashed #b4d7f0;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  background: #fff url(../images/bg-content.png) repeat-x 50% 0;
}

#wrapper #container #center .right-corner {
  background: transparent url(../images/bg-content-right.png) no-repeat 100% 0;
}

#wrapper #container #center .right-corner .left-corner {
  background: transparent url(../images/bg-content-left.png) no-repeat 0 0;
}

#branding,
#branding a:link,
#branding a:visited {
  text-shadow: #1659ac 0px 1px 3px;
}

#wrapper #container .breadcrumb,
#wrapper #container .breadcrumb a {
  color: #529ad6;
}

#highlighted {
  background-color: #fff;
  border: 1px solid #e0e5fb;
}

/**
 * Overlay
 */
#overlay #overlay-tabs li a {
  background: #d9eaf5;
  color: #000;
}
#overlay #overlay-tabs li a:hover,
#overlay #overlay-tabs li a:focus {
  background: #fff;
}
#overlay #overlay-tabs li.active a {
  background: url(../images/body.png) repeat-x scroll 50% -58px #edf5fa;
  color: #fff;
}

ul.main-menu li a,
ul.main-menu li a:link,
ul.main-menu li a:visited {
  color: #fff;
  background: transparent url(../images/bg-navigation-item.png) no-repeat 50% 0;
}

ul.main-menu li a:hover,
ul.main-menu li a.active {
  color: #fff;
  background: transparent url(../images/bg-navigation-item-hover.png) no-repeat 50% 0;
}

ul.secondary-menu li a,
ul.secondary-menu li a:link,
ul.secondary-menu li a:visited {
  color: #cde3f1;
}

ul.secondary-menu li a:hover,
ul.secondary-menu li a.active {
  color: #cde3f1;
}

#tabs-wrapper {
  border-bottom: 1px solid #e9eff3;
}
ul.secondary {
  border-bottom: 1px solid #e9eff3;
}


ul.primary li.active a,
ul.primary li.active a:link,
ul.primary li.active a:visited,
ul.primary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a:link,
ul.secondary li.active a:visited,
ul.secondary li a:hover {
  background: url(../images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}

.new {
  color: #ffae00;
}

.node-sticky {
  background-color: #fff;
  border: 1px solid #e0e5fb;
}

#comments {
  border-bottom: 1px solid #e9eff3;
}

#comments h2.comments {
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  border-top: 1px solid #e9eff3;
}

.comment h3 a.active {
  color: #494949;
}

#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
}
#aggregator .feed-item-meta {
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(../images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
}

.poll .bar .foreground {
  background: #71a7cc url(../images/bg-bar.png) repeat-x 0 100%;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  border: 1px solid #d9eaf5;
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
}

.fieldset-legend span.summary {
  color: #898989;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

.form-item input.error,
.form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active,
tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error,
table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning,
table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok,
table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}
