/**
 * Fonts stylesheet for Lyden theme.
 */

body {
	font:16px/1.231 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
	font-size:inherit;
	font:100%;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
  line-height: 1.5em;
}

