/**
 * Layout stylesheet for Lyden theme.
 *
 * Layout-colors:
 *  - #72a2d6 - baby blue, page background color
 *  - #497cad - deep blue, used for borders, bars, etc.
 *  - #003059 - dark blue, used for text
 *  - #e8ecef - light blue grey, used for backgrounds
 *  - #ccd5dc - blue grey, used for borders
 *  - #4c9201 - leaf green, used for links, headings
 *  - #81b24d - nature green, used for accents 
 *  - #d34ca8 - magenta, used for a few accents
 */

html, body {
  background-color: #72a2d6;
  color: #003059;
}

body {
  background-image: url('../images/vsprite.png'); 
  background-repeat: repeat-x;
  background-position: 0 -520px;
	/* center the page */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#doc {
	margin-left: auto;
	margin-right: auto;
  text-align: left;
  width: 960px;
}

#skip-link {
  display: none;
}

#site-name {
  padding: 40px 0 20px 40px;
}

#site-name a {
  background-image: url('../images/2d-sprite.png');
  background-position: -12px -5px;
  display: block;
  height: 75px; 
  text-indent: -9999px;
  width: 580px;
}

#primary {
  background-color: #497cad;
  color: white;
}

#primary div.logo {
  background-color: #1f2056;
  background-image: url('../images/2d-sprite.png');
  background-position: -19px -99px;
  float: right;
  height: 50px;
  width: 50px;
}

#primary ul {
  padding: 6px 11px;
  line-height: 38px;
}


#primary a {
  color: white;
  border-bottom: 6px solid #497cad;
  padding: 9px 15px 9px 15px;
  text-decoration: none;
}

#primary a:active,
#primary a:hover,
#primary a.active {
  background-color: #e8ecef;
  border-bottom-color: #003059;
  color: #003059;
}

#ft a:active,
#ft a:hover,
#ft a.active,
#ft a {
  color: white;
}

body.page-node #content {
  background-color: white;
  color: #003059;
}

#content-header h1.title {
  padding: 40px 60px 40px 60px;
}

#content-header div.tabs {
  background-color: white;
  padding: 6px;
}

body.page-node #content-area div.node {
  padding: 40px;
}


#ft {
  background-color: #497cad;
  color: white;
  padding: 40px;
  text-align: center;
}

#ft #footer-message {
  padding-bottom: 40px;
}

.sidebar-right #content-area {
  width: 720px;
}

#right {
  padding-bottom: 10px;
  width: 240px;
  float: right;
  background-color: #497CAD;
}