/** Main stylesheet for lyden theme */

/** layout **/
#bd {
  margin-bottom: 30px;
}

#content-header {
  background-color: white;
}
#content-area {
  border-top: 10px solid #497CAD;
  border-bottom: 10px solid #497CAD;
}

/** Title of page **/
h2.title {
  background: white;
  padding: 25px;
  padding-left: 50px;
}

h2.title .marked {
  color: #4c9201;
  padding-left: 1em;
}

div.title-wrapper {
  padding: 10px 0;
  background-color: #ccd5dc;
}

/** front page styles **/

#content-top {
  border-bottom: 10px solid #497CAD;
  border-top: 10px solid #497CAD;
  margin-bottom: 30px;
  padding: 0;
  background-color: white;
}

#content-top div.download {
  background-color: #ccd5dc;
  height: 60px;
  padding-left: 50px;
}

#content-top span.download {
  background-image: url('../images/2d-sprite.png');
  background-position: -187px -97px;
  display: block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px 0 0 0;
}

#content-top .download a {
  color: #003059;
  font-weight: bold;
  text-decoration: none;
  float: left;
}

#kkblud-pages-get-table-form #edit-download {
  width:auto;
  overflow:visible;
  border: none;
  background-color: white;
  margin: 20px 0 20px 20px;
  float: left;
  color: #003059;
  font-weight: bold;
}

#kkblud-pages-get-table-form span.download {
  background-image: url('../images/2d-sprite.png');
  background-position: -527px -97px;
  display: block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px 0 0 0;
}

#kkblud-pages-get-table-form .form-wrapper-wrapper {
  margin-left: 50px;
}

/** Table form of sound articles. **/

#kkblud-pages-get-table-form {
  background-color: #ccd5dc;
}

#kkblud-pages-get-table-form table{
  background-color: white;
  width: 100%;
}

#kkblud-pages-get-table-form table td.td-1 {
  width: 50px;
}

#kkblud-pages-get-table-form table td.td-3,
#kkblud-pages-get-table-form table td.td-4 {
  width: 160px;
}

#kkblud-pages-get-table-form table .item-list {
  float: left;
}

#kkblud-pages-get-table-form table .info {
  float: left;
}

#kkblud-pages-get-table-form table .item-list ul {
  padding: 0;
  margin: 0;
}

#kkblud-pages-get-table-form table .item-list li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
}

#kkblud-pages-get-table-form table .item-list a {
  color: #4c9201;
  margin: 0;
}


#kkblud-pages-get-table-form table p.title {
  font-weight: bold;
}

a span.text {
  margin: 20px 0 0 10px;
  float: left;
}

#kkblud-pages-get-table-form table a {
  color: #003059;
  font-weight: bold;
  text-decoration: none;
}

#kkblud-pages-get-table-form table td {
  background-color: white;
  padding: 10px 0;
}

#kkblud-pages-get-table-form table td div.wrapper {
  float: left;
  margin-left: 20px;
}

#kkblud-pages-get-table-form table td .form-item{
  padding-left: 20px;
}

#kkblud-pages-get-table-form table td span.paper {
  width: 90px;
  height: 60px;
  background-image: url('../images/2d-sprite.png');
  display: block;
  float: left;
  background-position: 0px -400px;
}

#kkblud-pages-get-table-form table td span.non {
    background-position: 0px -400px;
}

#kkblud-pages-get-table-form table td span.jyl {
    background-position: -220px -400px;
}

#kkblud-pages-get-table-form table td span.inf {
    background-position: 0px -466px;
}

#kkblud-pages-get-table-form table td span.pol {
    background-position: -110px -466px;
}

#kkblud-pages-get-table-form table td span.ber {
    background-position: -110px -400px;
}


#kkblud-pages-get-table-form .form-wrapper {
  background-color: white;
  margin-top: 10px;
  height: 60px;
}

#kkblud-pages-get-table-form td span.listen {
  background-image: url('../images/2d-sprite.png');
  background-position: -457px -97px;
  display: block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px 0 0 0;
}

#kkblud-pages-get-table-form td span.download {
  margin: 5px 0 0 0;
}

#kkblud-pages-get-table-form .form-wrapper-wrapper span.download:hover {
  cursor: pointer;
}

/** About us page styles. **/
.node p {
  margin-bottom: 1em;
}

.node .clear-block {
  margin-bottom: 1em;
}

.node .clear-block .green-marker {
  background-image: url('../images/2d-sprite.png');
  background-position: -210px -471px;
  float: left;
  display: block;
  margin-top: 2px;
  width: 70px;
  height: 20px;
  margin-right: 20px;
}

.node strong {
  font-weight: bold;
}

.node .clear-block a {
  float: left;
  color: #4c9201;
}

/** Catalog list page **/
.view-id-catalog {
  background-color: white;
}

.view-id-catalog a {
  font-size: 24px;
  color: #4c9201;
  font-weight: bold;
}
.view-id-catalog .views-field-title {
  padding: 20px;
  width: 500px;
  float: left;
}

.view-id-catalog .views-field-body {
  padding: 0 0 20px 30px;
  width: 500px;
  float: left;
}

.view-id-catalog .views-field-field-catalog-image-fid {
  float: left;
  padding-left: 20px;
}

.views-row {
  padding: 10px 0;
  border-bottom: 10px solid #ccd5dc;
}


/** clear-fix for views-row **/
.views-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.views-row {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .views-row {
  height: 1%;
}
.views-row {
  display: block;
}
/* End hide from IE-mac */

/** catalog order page **/
#kkblyd-order-order-form {
  background-color: white;
  padding: 0 0 20px 10px;
}

#kkblyd-order-order-form legend {
  font-size: 24px;
  font-weight: bold;
  color: #003059;
  padding: 20px 0 20px 30px;
}

#kkblyd-order-order-form fieldset fieldset legend {
  font-size: 18px;
  font-weight: bold;
  color: #003059;
  padding: 10px 0 10px 10px;
}

#kkblyd-order-order-form .sound-book fieldset p.description{
  width: 500px;
  float: left;
}

#kkblyd-order-order-form .sound-book fieldset .form-item{
  float: right;
  clear: right;
  font-weight: bold;
  padding-right: 20px;
}

#kkblyd-order-order-form .sound-book fieldset .form-item label{
  display: inline;
}

.node-type-catalog #bd,
.page-bestil #bd {
  padding: 0 0 10px 0;
  background-color: #497CAD;
}

/** order page **/

.page-bestil #content {
  background-color: white;
}

.page-bestil .messages {
  padding: 10px;
  font-weight: bold;
}

#kkblyd-order-lydavis-form {
  padding-bottom: 20px;
}

#kkblyd-order-lydavis-form div{
  padding: 0 20px;
}

#kkblyd-order-lydavis-form div.form-item{
  padding: 0;
}

#kkblyd-order-lydavis-form div.form-item div{
  padding: 0;
}

#kkblyd-order-lydavis-form table {
  width: 100%;
}

#kkblyd-order-lydavis-form table td{
  padding: 5px;
}

#kkblyd-order-lydavis-form table th{
  padding: 5px;
  font-weight: bold;
}

/** webform styles **/
#node-2 address {
    padding-bottom: 10px
}

#node-2 ul {
    padding-bottom: 10px
}

/** secondary menu block **/
#block-menu-secondary-links {
  background-color: #CCD5DC;
  padding: 0;
}

#block-menu-secondary-links ul {
  padding: 30px 0 20px 0;
  margin: 0;
}

#block-menu-secondary-links li {
  list-style: none;
  padding: 10px 0 10px 20px;
  margin: 0 10px 0 0;
}

#block-menu-secondary-links li.active-trail {
  background-color: white;
  border-right: #003059 solid 5px;
}

#block-menu-secondary-links a {
  text-decoration: none;
  color: #003059;
  font-weight: bold;
}

#block-menu-secondary-links li.active-trail a {
  color: #4c9201;
}

/** header block front **/
#bd-top {
  border-bottom: 10px solid #497CAD;
  margin: 0 0 30px 0; 
  background-color: white;
}

#block-kkblyd_pages-2 .right-sidebar {
  height: 325px;
  width: 240px;
  float: left;
  background-color: #CCD5DC;
}

#block-kkblyd_pages-2 .right-sidebar .r-wrapper {
  padding: 30px 20px;
}

#block-kkblyd_pages-2 .main .wrapper {
  height: 325px;
  width: 480px;
  background-color: white;
  float: left;
}

#block-kkblyd_pages-2 .main div.papers {
  float: left;
}

#block-kkblyd_pages-2 .main span.papers {
  height: 245px;
  width: 210px;
  background-image: url('../images/2d-sprite.png');
  background-position: -390px -300px;
  display: block;
  margin: 50px 20px 0 10px;
}

#block-kkblyd_pages-2 p {
  padding: 10px 0;
}

#block-kkblyd_pages-2 strong {
  font-weight: bold;
}

#block-kkblyd_pages-2 .main ul {
  padding-left: 0;
}

#block-kkblyd_pages-2 .main li {
  float: left;
}

#block-kkblyd_pages-2 .main a.private {
  font-weight: bold;
  color: #d34ca8;
}

#block-kkblyd_pages-2 .main span.private {
  background-image: url('../images/2d-sprite.png');
  background-position: -210px -510px;
  float: left;
  display: block;
  margin-top: 2px;
  width: 70px;
  height: 20px;
}

#block-kkblyd_pages-2 .main span.library {
  background-image: url('../images/2d-sprite.png');
  background-position: -210px -471px;
  float: left;
  display: block;
  margin-top: 2px;
  width: 70px;
  height: 20px;
  margin-left: 20px;
}


#block-kkblyd_pages-2 a {
  font-weight: bold;
  color: #4c9201;
}

/** header block lydavis **/
#block-kkblyd_pages-3 .left{
  padding: 50px 0 50px 50px;
  float: left;
  width: 300px;
}

#block-kkblyd_pages-3 .right {
  float: left;
  width: 610px;
  height: 420px;
}

#block-kkblyd_pages-3 .right a {
  text-decoration: none;
  color: #003059;
  font-weight: bold;
}

#block-kkblyd_pages-3 .right li {
  list-style: none;
  float: left;
  height: 140px;
  width: 145px;
  padding: 0;
  margin: 0;
}

#block-kkblyd_pages-3 li span,
#block-kkblyd_pages-1 span.area-all {
  height: 85px;
  width: 85px;
  display: block;
  background-image: url('../images/2d-sprite.png');
  margin: 10px 0 0 10px;
}

#block-kkblyd_pages-3 li a {
  margin: 0;
}

#block-kkblyd_pages-3 li span.area-2,
#block-kkblyd_pages-1 span.area-2 {
  background-position: -200px -295px;
}

#block-kkblyd_pages-3 li span.area-3,
#block-kkblyd_pages-1 span.area-2 {
  background-position: -0px -185px;
}

#block-kkblyd_pages-3 li span.area-4,
#block-kkblyd_pages-1 span.area-4 {
  background-position: -300px -185px;
}

#block-kkblyd_pages-3 li span.area-5,
#block-kkblyd_pages-1 span.area-5 {
  background-position: -100px -185px;
}

#block-kkblyd_pages-3 li span.area-6,
#block-kkblyd_pages-1 span.area-6 {
  background-position: -0px -295px;
}

#block-kkblyd_pages-3 li span.area-7,
#block-kkblyd_pages-1 span.area-7 {
  background-position: -100px -295px;
}

#block-kkblyd_pages-3 li span.area-8,
#block-kkblyd_pages-1 span.area-8 {
  background-position: -300px -295px;
}

#block-kkblyd_pages-3 li span.area-9,
#block-kkblyd_pages-1 span.area-9 {
  background-position: -200px -185px;
}

#block-kkblyd_pages-3 li span.area-all,
#block-kkblyd_pages-1 span.area-all {
  background-position: -400px -185px;
}

#block-kkblyd_pages-1 h2.title {
  float: left;
}

#block-kkblyd_pages-1 span {
  float: left;
  margin: 0;
}

#block-kkblyd_pages-1 span.text {
  margin: 20px 0 0 10px;
}

.not-front.page-node #content-area,
.not-front.page-bestil #content-area {
  border-top: none;
}