/** Main stylesheet for lyden theme */

/** layout **/
#bd {
  margin-bottom: 30px;
}

/** Title of page **/
h2.title {
  background: white;
  padding: 25px;
  padding-left: 50px;
}

h2.title .marked {
  color: #4c9201;
  padding-left: 1em;
}

div.title-wrapper {
  padding: 10px 0;
  background-color: #ccd5dc;
}

/** front page styles **/
.front-page-wrapper {
  padding: 10px 0;
  background-color: #497CAD;
}

#bd-top {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #497CAD;
}

#bd-top .download {
  background-color: #ccd5dc;
  padding: 20px 0 20px 40px;
}

#bd-top .download a {
  color: #003059;
  font-weight: bold;
  text-decoration: none;
}

/** Table form of sound articles. **/

#kkblud-pages-get-table-form {
  background-color: #ccd5dc;
}

#kkblud-pages-get-table-form table{
  background-color: white;
  width: 100%;
}

#kkblud-pages-get-table-form table .item-list {
  display: inline;
}

#kkblud-pages-get-table-form table .item-list ul {
  display: inline;
}

#kkblud-pages-get-table-form table .item-list li {
  display: inline;
  list-style: none;
}

#kkblud-pages-get-table-form table .item-list a {
  color: #4c9201;
}


#kkblud-pages-get-table-form table p.title {
  font-weight: bold;
}

#kkblud-pages-get-table-form table a.listen {
  color: #003059;
  font-weight: bold;
  text-decoration: none;
}

#kkblud-pages-get-table-form table a.download {
  color: #003059;
  font-weight: bold;
  text-decoration: none;
}

#kkblud-pages-get-table-form table td {
  padding: 10px 0;
}

#kkblud-pages-get-table-form table td .form-item{
  padding-left: 10px;
}

#kkblud-pages-get-table-form .form-wrapper {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}

#kkblud-pages-get-table-form #edit-download {
  color: #003059;
  font-weight: bold; 
}

/** About us page styles. **/
#node-3 p {
  margin-bottom: 1em;
}

#node-3 strong {
  font-weight: bold;
}

#node-3 a {
  color: #4c9201;
  padding-left: 125px;
}

/** Catalog list page **/
.view-id-catalog {
  background-color: white;
}

.view-id-catalog a {
  font-size: 24px;
  color: #4c9201;
  font-weight: bold;
}
.view-id-catalog .views-field-title {
  padding: 20px;
  width: 500px;
  float: left;
}

.view-id-catalog .views-field-body {
  padding: 0 0 20px 30px;
  width: 500px;
  float: left;
}

.view-id-catalog .views-field-field-catalog-image-fid {
  float: left;
  padding-left: 20px;
}

.views-row {
  padding: 10px 0;
  border-bottom: 10px solid #ccd5dc;
}


/** clear-fix for views-row **/
.views-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.views-row {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .views-row {
  height: 1%;
}
.views-row {
  display: block;
}
/* End hide from IE-mac */